{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'user_auth/css/bootstrap.min.css' %}">
</head>
<body>
<h1 style="background-color: #ffc107;text-align: center;padding: 5px;padding-bottom: 8px">Password Generator</h1>
<div class="container text-center">

    <br>
    <br>
  <form action="{% url 'generate_password' %}" method="post">
      {% csrf_token %}
    <select name="length">
        {% for i in range %}
            {% if i != 12 %}
                <option value="{{i}}">{{i}}</option>
            {% else %}
                <option  selected="selected" value="{{i}}">{{i}}</option>
            {% endif%}
        {% endfor%}
    </select> Length
    <br>
    <br>
    <br>
    <input type="checkbox" name="uppercase"> Uppercase
    <br>
    <br>
    <input type="checkbox" name="numbers"> Numbers
    <br>
    <br>
    <input type="checkbox" name="special_characters"> Special Characters
    <br>
    <br>
    <input type="checkbox" name="arabic_letters"> Arabic Letters
    <br>
    <br>
    <input type="submit" value="Generate Password" class="btn btn-primary">
  </form>
</div>
<script src="{% static 'user_auth/js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'user_auth/js/bootstrap.min.js' %}"></script>
</body>
</html>