<div class="row">
    <div class="col-md-4">
        <div class="card bg-light mb-3" style="min-height: 200px"> <!-- max-width: 18rem; -->
          <div class="card-header badge-warning">Customer : </div>
          <div class="card-body badge-secondary">
              <a style="display: block;text-decoration: none;color: black" href="#">
            <p class="btn badge-warning" style="width: 100%">Update customer</p>
                  </a>

              <a style="display: block;text-decoration: none;color: black" href="{% url 'create_order' customer.id %}">
            <p class="btn badge-warning" style="width: 100%">Create Order</p>
              </a>

          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3" style="min-height: 200px">
          <div class="card-header badge-warning">Contact informations :</div>
          <div class="card-body badge-secondary">
            <p class="card-text">Email : {{ customer.email }}</p>
            <p class="card-text">Phone : {{ customer.phone }}</p>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-light mb-3" style="min-height: 200px">
          <div class="card-header badge-warning">Total Orders</div>
          <div class="card-body badge-secondary">
            <p class="card-text" style="text-align: center;padding-top: 8%;font-size: 40px">{{ orders_count }}<sub style="font-size: 15px">order{% if orders_count != 1 %}s{% endif %}</sub></p>
          </div>
        </div>
    </div>
</div>