{% extends 'user_auth/base.html' %}

{% block content%}

        <h1 style="color: moccasin;text-align: center" >
        Change Password
        </h1>
    <br>
        {% if messages %}
            {% for message in messages  %}
                <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
                <form method="post" action="{% url 'change_password' %}">
                    {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputEmail1">Current Password :</label>
                        <input name="old_password" type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter the old password">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">New Password :</label>
                        <input name="new_password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter the new Password">
                      </div>
                     <div class="form-group">
                        <label for="exampleInputPassword1">Confirm New Password :</label>
                        <input name="new_password2" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter the new Password again">
                      </div>
                    <div style="text-align: center">
                      <button type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                    <hr class="my-4">
                    <div style="text-align: center">
                        <a href="{% url 'home' %}"  style="text-align: center">
                          <button type="button" class="btn btn-primary">Back to Home page</button>
                        </a>
                    </div>
                </form>

{% endblock%}
