{% extends 'user_auth/base.html' %}

{% block content%}
                  <h1 style="color: moccasin;text-align: center" >
                         Create Account
                  </h1>
                    <br>
                {% if messages %}
                    {% for message in messages  %}
                        <div class="alert alert-danger" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                {% endif %}

                  <form method="post" action="{% url 'sign_up_user' %}" class="px-4 py-3" style="background-color: white;">
                    {% csrf_token %}
                      <div style="padding: 30px;padding-right: 50px;padding-left: 20px">
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="form-group" >
                                      <label for="exampleDropdownFormEmail1">First name :</label>
                                      <input name="first_name" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="First name">
                                  </div>
                              </div>
                              <div class="col-md-6">
                                  <div class="form-group" >
                                      <label for="exampleDropdownFormEmail1">Last name :</label>
                                      <input name="last_name" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="Last name">
                                  </div>
                              </div>
                          </div>
                          <div class="form-group" >
                              <label for="exampleDropdownFormEmail1">User name :</label>
                              <input name="username" type="text" class="form-control" id="exampleDropdownFormEmail1" placeholder="User name">
                          </div>
                        <div class="form-group" >
                          <label for="exampleDropdownFormEmail1">Email address :</label>
                          <input  name="email" type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                        </div>
                          <label for="exampleDropdownFormPassword1">Password :</label>
                          <div class="row">
                              <div class="col-md-8">
                                <div class="form-group">
                                  <input  name="password1" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                </div>
                              </div>
                              <div class="col-md-4">
                                  <a href="{% url 'generate_password' %}" target="_blank">
                                        <button style="margin-left: 0px;padding-left: 5px" type="button"class="btn btn-primary">
                                            Generate Pass.
                                        </button>
                                  </a>
                              </div>
                          </div>
                        <div class="form-group">
                              <label for="exampleDropdownFormPassword1">Confirm Password :</label>
                              <input name="password2" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Conform Password">
                        </div>
                          <div style="text-align: center">
                                <button style="text-align: center" type="submit" class="btn btn-primary">Sign Up</button>
                          </div>
                          <hr class="my-4">
                          <div style="text-align: center">
                            <a href="{% url 'login_user' %}" style="text-align: center">
                                <button type="button" class="btn btn-info">do u have an account --> Login</button>
                            </a>
                          </div>
                      </div>
                  </form>
{% endblock %}